<template>
<div>

      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark pad">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Group <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Membre <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input v-model="search" @keyup="showAll" class="form-control mr-sm-2" type="search" placeholder="Rechercher un groupe" aria-label="Search">
    </div>
  </div>
</nav>
    <div class="container groupall">
        <h2 v-if="!all" >Popular</h2>
        <div class="groupshow">
            <div v-for="pop in getpopular" :key="pop.name">
                <div v-if="!all" class="groupimg">
                    <a href=""><img class="card-img-top" :src="pop.image_url" alt="Responsive image Card image cap"></a>
                </div>
            </div>
        </div>
            <hr v-if="!all">
            <h2 v-if="!all" >Rookie</h2>
        <div class="groupshow">
            <div v-for="rookie in getRookie" :key="rookie.name">
                <div v-if="!all" class="groupimg">
                    <a href=""><img class="card-img-top" :src="rookie.image_url" alt="Responsive image Card image cap"></a>
                </div>
            </div>
        </div>
            <hr v-if="!all">
        <h2 v-if="all">Tous les groupes</h2>
        <div class="groupshow">
            <div v-for="post in filteredList" :key="post.id" >
                <div v-if="all" class="groupimg">
                <a href=""><img class="card-img-top" :src="post.image_url" alt="Responsive image Card image cap"></a>
                </div>
            </div>
        </div>
        <group-component/>
    </div>

</div>
</template>

<script>


    export default {

       data(){
    return{
        groups:[],
        pops:[],
        search:"",
        all:false,
    };
},
mounted(){
   this.getgroup()

},
        methods:{
            getgroup(){
        fetch('/group')
                .then(response => {

                    return response.json()
                })
                .then(json => {

                    this.groups = json.data
                    })
                .catch(error=>{
                    location.href = '/';
                })

    },
                    sortByType(){

            },
            showAll() {
                console.log('cc')
                if(this.search === '')
                    this.all = false
                else {
                    this.all = true
                }
            },
        },
        computed:{
            getpopular(){
               let popular = this.groups.filter( pop =>{
                    return pop.categories_id === 3
                })
               return popular
            },
            getRookie(){
               let rookie = this.groups.filter( pop =>{
                    return pop.categories_id === 4
                })
               return rookie
            },
            filteredList() {
            let allGroups =  this.groups.filter(post => {
                return post.name.toLowerCase().includes(this.search.toLowerCase())
            })
            return allGroups
        },

        },
    }
</script>
<style lang="scss">

.groupall{
    padding-top: 5rem;
    .groupshow{
        display: flex;
        flex-wrap: wrap;
    }
    .groupimg{
        display: flex;
        flex-wrap: wrap;
        width: 15rem;
        max-height: 15rem;
        display: flex;
        height:auto;
        margin: 1rem;
    }
}
@media screen and (max-width: 640px){
    .groupshow{
        justify-content: center;
    }
    .groupimg{
        justify-content: center;
    }
}

</style>


